.Translation-li {
    color: #969696;
    text-align: center;
    width: 95%;
    height: 28px;
    border-radius: 15px;
    list-style-type: none;
    padding: 1.5px;
    margin: 0px;
    overflow: hidden;
    font-size: 18px;
    font-family: 'Sanchez-Regular';
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 16%), 0 2px 2px 0 rgb(0 0 0 / 11%), 0 1px 5px 0 rgb(0 0 0 / 10%);
}