.TranslationForm-box{
  position: absolute;
  top: 177px;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  color: #969696;
  width: 500px;
  height: 200px;
}