
.LoginForm-box {
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 500px;
  border-radius: 15px;
  color: #969696;
  background-color: #EFEFEF;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Error-message {
  position: fixed;
  top: 48%;
  left: 10%;
}

