.Navigation-bar {
    right: 200px;
    position: absolute;
    size: initial;
}

.Navigation-ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    overflow: hidden;
    font-family: 'Sanchez-Regular';
    color: white;
}

.Navigation-li {
    float: left;
    border: 1px solid #E7B355;
}

.Navigation-li:hover {
    background-color: #E7B355;
}

.Navigation-link {
    display: block;
    font-size: 20px;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}

.Navigation-link:hover {
    color: #614390;
}