.Navigator {
    width: 100%;
    height: 80px;
    position: absolute;
    background-color: #FFC75F;
    color: white;
    font-family: "LoveYaLikeASister";
}

.Navigator-logo-box {
    position: absolute;
    left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Navigator-logo-box div {
    width: 70%;
    height: 70%;

}

.Logo-box {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/public/img/logo/Splash.svg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.Logo-box img {
    width: 70%;
    height: 70%;
}

.Navigator-text {
    position: absolute;
    left: 150px
}

.User-box {
    width: 150px;
    height: 150px;
    right: 0px;
    bottom: 0px;
    vertical-align: bottom;
    position: absolute;
    font-family: 'Sanchez-Regular';
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.User-name {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #E7B355;
    border-top-left-radius: 10px;
    ;
}

.User-image-box {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.User-Image {
    filter: invert(75%) sepia(26%) saturate(906%) hue-rotate(356deg) brightness(97%) contrast(87%);
}

.Bottom-line-nav {
    position: absolute;
    top: 100%;
    background-color: #E7B355;
    height: 4px;
    width: 100%;
    display: inline-block;
}