.App {
  text-align: center;
}

.Page-header {
  background-color: #FFC75F;
  height: 150px;
  display: flex;
  /* flex-direction: column; */
  align-items: last baseline;
  justify-content: center;
  font-family: "LoveYaLikeASister";
  color: white
  /* font-size: calc(10px + 2vmin); */
  /* color: #FFC75F; */
}

@font-face {
  font-family: "LoveYaLikeASister";
  src: url("./../public/fonts/LoveYaLikeASister-Regular.ttf");
}

@font-face {
  font-family: 'Sanchez-Italic';
  /*a name to be used later*/
  src: url('./../public/fonts/Sanchez-Italic.ttf');
  /*URL to font*/
}

@font-face {
  font-family: 'Sanchez-Regular';
  /*a name to be used later*/
  src: url('./../public/fonts/Sanchez-Regular.ttf');
  /*URL to font*/
}
