.Field {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #EFEFEF;
  height: 25%;
  width: 80%;
  border-radius: 40px;
  font-size: 25px;
}

.Field-input {
  position: fixed;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
  background-color: #EFEFEF;
  height: 90%;
  width: 75%;
  border-style: none;
  font-family: 'Sanchez-Regular';
  font-size: 25px;
  color: #969696;
}

.Keyboard{
  top:50%;
  left:10px;
  transform: translate(0%,-50%);
  width:25px;
  height:25px;
  position:absolute;

}

.Button-submit {
  position: fixed;
  top: 50%;
  left: 94%;
  transform: translate(-50%, -50%);

  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: none;
  background-color: #845EC2;
  align-items: center;
  justify-content: center;
  display: flex;
}

.Button-submit:hover {
  background-color: #614390;
}

.Arrow {
  height: 90%;
  width: 90%;
  filter: invert(98%) sepia(1%) saturate(118%) hue-rotate(12deg) brightness(117%) contrast(87%);
}
