.Text-field-box {
  position: fixed;
  top: 370px;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 80%;
  border-radius: 15px;
  color: #969696;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Bottom-line {
  position: absolute;
  bottom: 0%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #845EC2;
  height: 15%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  align-items: center;
  /* display: inline-block; */
}

.Button-bottom {
  height: 40px;
  width: 100px;
  border-radius: 20px;
  border: none;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #969696;
  font-family: 'Sanchez-Regular';
}

.Button-bottom:hover {
  background-color: #EFEFEF;
  color: #614390;
  font-size: 14px;
}
